graft .github
graft docs
graft src
graft tests
graft _static

include .coveragerc
include .editorconfig
include .gitignore
include .readthedocs.yaml

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini

global-exclude *.py[cod] __pycache__ *.so *.dylib
